body {
  /* background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gray;
  position: relative; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background: linear-gradient(
    0.25turn,
    gray,
    rgb(43, 69, 109),
    rgba(96, 96, 233)
  );
  /* background-color: #24405a; */
}

h1 {
  font-size: 200%;
  color: rgb(38, 41, 43);
}

.header-list {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  flex-direction: column;
}

.header-list a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 150%;
}

.header-list a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 2px 2px gray;
  font-size: 175%;
}

@media screen and (min-width: 768px) {
  .header-list {
    flex-direction: row;
    align-items: flex-end;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

main {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gray;
  z-index: 999;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}
