body {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background: linear-gradient(
    0.25turn,
    gray,
    rgb(43, 69, 109),
    rgba(96, 96, 233)
  );
}

h1 {
  font-size: 200%;
  color: rgb(38, 41, 43);
}

.header-list {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  flex-direction: column;
}

.header-list a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 150%;
}

.header-list a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 2px 2px gray;
  font-size: 175%;
}

@media screen and (min-width: 768px) {
  .header-list {
    flex-direction: row;
    align-items: flex-end;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

main {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(34, 40, 58);
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

.skills {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.skills button {
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
  flex: 0 0 200px;
  transform: rotate(5deg) skew(-10deg, -5deg);
  box-shadow: gray 5px 3px, rgb(53, 53, 53) 10px 6px, black 15px 9px;
  background-color: #13293d;
  color: white;
}

.skills button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 2px 2px gray;
  font-size: 120%;
}

.about {
  display: flex;
  justify-content: space-between;
}
